* {
  margin: 0;
  padding: 0;
}

.css2 {
  border-radius: 5px;
  
  font-weight: 500;
  color:#3C7CCD;
  font-family: "黑体";
  background:#fff;
  font-size: 0.4rem;
  margin-bottom: 8px;
}
.imghover{
 border: 0.01rem solid #418cd1;
 background:#418cd1;
}
.imghover:hover{
   -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    

}
.a1 {
  position: absolute;
  top: 7px;
  left: 10px;
  z-index: 10;
  border: 0.01rem solid #616161;
  border-radius: 6px;
  padding: 0px 5.5px;
}
.a11 {
  left:190px;
}
.c5 {
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin: 0;
}
.touch2 {
  color: #ff9800;
}
.touch2:hover {
  cursor: pointer;
  color: #ececec;
}
.c4 {

  color: #2c3e50;
  position: absolute;
  right: 0px;
  top: 0px;
}
/* .mask{
   position: fixed;
   left: 0;
   top: 10%;
   z-index: 5;
   height:60%;
  width: 85%;

} */
.c3,
.c1 {
  position: relative;
  position: absolute;
  z-index: 11;
  top:5px;
  left: 0;
  width: 100%;
  font-size:0.1rem;
  border-radius: 5px;
  overflow-y: scroll;
  opacity: 0.9 ;
  padding-right: 10px;
}

.c3 {
  right: 0;
  top:72%
}



.c3m,
.c1m {
  opacity: 0.7;
  color: #2490e9;
  position: relative;
  position: absolute;
  z-index: 11;
  bottom: 100px;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
  font-size: 13px;
  left: 0;
  right: 0;
  margin: auto;
}

.c3m,
.c1m {
  display: none;
}

.c2 {
  font-size: 20px;
  color: #2c3e50;
  position: absolute;
  right: 0;
  top: 0px;
}
::-webkit-scrollbar {
  height: 8px !important;
  width: 5px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  border-style: dashed;
  background-color: rgba(12, 80, 235, 0.4);
  border-color: red;
  border-width: 1px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  background: #ededed;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 165, 183, 0.7);
}